<!DOCTYPE html>
<html>
    <head>
        <title>My FIrst View!!</title>
    </head>
    <body>
        <h1>Hello World</h1>
        <p>This HTML code is inside of a '.erb' file in the views directory, where is belongs</p>
    </body>
</html>