<!DOCTYPE html>
<html>
    <head>
        <title>Info Page</title>
    </head>
    <body>
        <h1>Info Page</h1>
        <p>I feel my failure intensely
            as if it were a vital organ
            the gods grew from the side of my head.
            You can't cover it with a hat and I no longer
            can sleep on that side it's so tender.
            I wasn't quite faithful enough
            to carry this sort of weight up the mountain.
            When I took my vows at nineteen
            I had no idea that gods were so merciless.
            Fear makes for good servants
            and bravery is fraudulent. When I awoke
            I wasn't awake enough.</p>
    </body>
</html>