<!DOCTYPE html>
<html>
    <head>
        <title>Info Page</title>
    </head>
    <body>
        <h1>Info Page</h1>
        <p>This is the info page: here's some information about me!</p>
        <h2>Important Info</h2>
        <p>Black Sabbath rules!</p>
    </body>
</html>