<!DOCTYPE html>
<html>
    <head>
        <title>Info Page Woohoooo</title>
    </head>
    <body>
        <h1>Info Page Woooohooo</h1>
        <p>This is the info page: here's some information about me! I am awesome!</p>
    </body>
</html>