<!DOCTYPE html>
<html lang="en">
<head>
	<title>Info Page</title>
</head>
<body>
	<h1>Info Page</h1>
	<p>This is the info page: here's some information about me!</p>
	<p>My name is Shaquille Galimba</p>
	<p>I'm from Jacksonville, Florida, but I grew up in the Philippines</p>
</body>
</html>
