<!DOCTYPE html>
<html>
    <head>
        <title>Info Page</title>
    </head>
    <body>
        <h1>Info Page</h1>
        <p>This is the info page: here's some information about me!</p>
        <div>
       <ol>
         <li>Gender: male</li>
         <li>State: Georgia</li>
         <li>Age: 40.258 years old</li>
         <li>Language Spoken: English</li>
       </ol>
       </div>
    </body>
</html>