<!DOCTYPE HTML>
<html>
  <head>
    <title>Info Page</title>
  </head>
  
  <body>
    <h1>Info Page</h1>
    <p>This is the info page:  My name is John Hayes.  I am a recording & mix engineer who is looking to change careers and get pursue a career in coding!</p>
    
  </body>
</html>