<!DOCTYPE html>
    <html lang="en">
        <head>
            <title>10-9-8-76ers</title>
            <style>
                header {
                    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
                    font-size: 4em;
                    font-style: italic;
                    color: rgba(255, 0, 0, 0.9);
                    /*color: red*/
                    border: 10px outset rgba(13, 9, 228, 0.8);
                    padding: 5px;
                    position: -webkit-sticky;
                    position: fixed;
                    background: white;
                    max-width:50%;
                    justify-content: center;
                }
                .wrapper{
                    width:100%
                }
                .col {
                    float: left;
                    margin: 105px 0px 0px 0px;
                }
                .col-1{
                    width: 14%;
                    background-color: rgba(255, 0, 0, 0.9);
                    padding-bottom: 100%;
                    padding-left: 1%;
                }
                .col-1>a{
                    display: inline-block;
                    margin-bottom: 10px;
                    font-size: 1em;
                }
                .col-2{
                    width: 85%;
                }
                h2{
                    font-size: 20px;
                }
                .title {
                    margin: 0 auto;
                    width: 100%;
                }
                @media (max-width: 900px){
                    .title {
                        font-size:7vw;
                    }
                    .logo {
                        width:9%;
                    }
                }
            </style>
        </head>
        <body>
            <wrapper>
            <header>
                <div class="title">
                    <img src="https://sportsfly.cbsistatic.com/fly-364/bundles/sportsmediacss/images/team-logos/nba/light/PHI.svg" alt="logo" width="40px" class="logo" >
                    10-9-8-76ers
                    <img src="https://sportsfly.cbsistatic.com/fly-364/bundles/sportsmediacss/images/team-logos/nba/light/PHI.svg" alt="logo" width="40px" class="logo" >
                </div>
            </header>
            <div class="container">
                <div class="col col-1">
                    <h2>Your Sixers</h2>
                    <a href="https://twitter.com/JoelEmbiid" target="_blank">Joel Embiid</a><br>
                    <a href="https://twitter.com/BenSimmons25" target="_blank">Ben Simmons</a><br>
                    <a href="https://www.nba.com/sixers/roster" target="_blank">Other Players</a>
                </div>
                <div class="col col-2"
                    <a href="https://www.nba.com/sixers/" target="_blank"><img src="https://sixerswire.files.wordpress.com/2019/08/joel-embiid-6.jpg?w=1000&h=600&crop=1" alt="Embiid" width="90%" title="SIXERS!"></a>
                </div>
            </div>
            <right><iframe width="60%" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/32601764&color=%23525453&auto_play=true&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"></iframe></right> <!--allow="autoplay"-->
        </body>
        </wrapper>
    </html>